In [2]:
list3 = ['king', 'queen', 'jack', 'ace', 'joker','king', 'queen']

In [3]:
print(list3)

['king', 'queen', 'jack', 'ace', 'joker', 'king', 'queen']

In [4]:
list4 = [33,34,23,54,56,78,90,12,11,10]

In [6]:
list4.sort()
list4

[10, 11, 12, 23, 33, 34, 54, 56, 78, 90]

In [8]:
list4.remove(11)

In [5]:
num = int(input("Enter a number: "))
# num = int(num)
for i in range (1,11,1):
    print(num)

2
2
2
2
2
2
2
2
2
2

In [11]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
if num1%2 ==0:
    if num2%2 != 0:
        
        for i in range (num1, num2+1):
            for j in range (1,10):
                print(f"{i} x {j} = {i*j}")

In [42]:
for i in range (1,10):
    for j in range(i):
        print("*" , end=" ")
    print("")
for i in range (10,0,-1):
    for j in range(i):
        print("*" , end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [36]:
for i in range (1,10):
    for j in range(i):
        print("*" , end=" ")
    print("")
for i in range (10,0,-1):
    for j in range(i):
        print("*" , end=" ")
    print("")
for i in range(1,15):
    # if i > 4:
    #     print(" ")
    for j in range(1,50):
        print("*", end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [66]:
n = 10
for i in range (1,10):
    for j in range(n-i):
        print("*" , end=" ")
    print(" ")

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
print("         *\n        **\n       ***\n      ****\n     *****\n",end=" ")

         *
        **
       ***
      ****
     *****